$font-Stalinist: 'Stalinist One', sans-serif;

$fontSize_small: 5px;
$fontSize_medium: 15px;
$fontSize_large: 25px;

*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    display: none;
}
/* Body */

/* Radio */
.radio{
    display: inline-block;
    margin: 0px 15px;
    &__play, &__stop{
        margin: 0px 15px;
        color: #FFF;
    }
}

/* Header */

.header{
    background-color: #000;
    width: 100vw;
    padding: 20px 0px;
    &__nav{
        margin: 0px 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav img{
        width: 70px;
    }
    &__nav h1{
        color: #fff;
	    font-size:$fontSize_large;
        font-family: $font-Stalinist;
        letter-spacing: $fontSize_large;
        font-weight: lighter;
    }
    & h1 span {
        position:absolute;
        right:90px;
        background: #000;
        border-left: 1px solid #000;
        animation: escribir 2s steps(30) infinite alternate;
        @keyframes escribir {
            from { width: 85% }
            to { width:0% }
        }
    }
    @media screen and (max-width: 1300px) {
        .header{
            &__nav h1{
                width: auto;
                letter-spacing: 10px;
                span{
                    display: none;
                }
            }

        }
    }
    
}
@media screen and (max-width: 900px){
    .header{
        display: flex;
        justify-content: center;

        &__nav{
            justify-content: center;
            flex-wrap: wrap;
            width: 40vw;
            & img{
                margin-bottom: 15px;
            }        }
        &__nav h1{
            display: none;
        }
    }
}